* {font-family: 'Nanum Gothic', sans-serif;}

.navbar-brand > img{
    width: 50px;
    height: 50px;
}
html,
body {
  height: 100%;
}
html {
  overflow-x: hidden!important;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  background-color: #ffffff;
}
.wrapper {
  overflow: hidden;
  background-color: #fcfcfc;
}
.wrapper.container {
  background-color: #ffffff;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
  width: auto;
}
@media (min-width: 768px) {
  .wrapper.container {
    width: 750px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .wrapper.container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper.container {
    width: 1170px;
  }
}
#layout_options {
  width: 180px;
  position: fixed;
  top: 100px;
  right: -180px;
  background-color: #fcfcfc;
  border: solid 1px #82b0d8;
  border-right: 0;
  z-index: 1500;
  padding: 0px 10px 10px 10px;
}
#layout_options .options-handle {
  position: absolute;
  left: -29px;
  width: 30px;
  padding: 5px 0 0 0;
  height: 30px;
  top: -1px;
  text-align: center;
  background-color: #fcfcfc;
  border: solid 1px #82b0d8;
  border-right: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: 300;
}
a {
  color: #428bca;
}
a:hover,
a:focus {
  color: #2a6496;
}
.table {
  font-size: 12px;
  border-top: solid 1px #EEE;
}
.table > thead > tr > th {
  font-size: 12px;
  font-weight: 600;
  border-bottom: none;
  text-transform: uppercase;
}
.table > thead > tr > th:last-child {
  text-align: right;
}
.table > tbody > tr > td {
  border-top: solid 1px #EEE;
}
.table > tbody > tr > td:last-child {
  text-align: right;
}
.table > tbody > tr:first-child > td {
  border-top: none;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #eef8ff;
}
.label {
  display: inline-block;
  font-weight: normal;
}
.label-default {
  background-color: #c4c4c4;
}
.label-info {
  background-color: #5bc0de;
}
.label-primary {
  background-color: #5b98cc;
}
.label-success {
  background-color: #84ce84;
}
.label-warning {
  background-color: #e8b976;
}
.label-danger {
  background-color: #d97572;
}
.pagination {
  border-radius: 2px;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #f7f7f7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5b98cc;
  border-color: #5b98cc;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #f0f0f0;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f7f7f7;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}
/*
 * Colored styles
 */
.text-muted {
  color: #c4c4c4;
}
.text-muted:hover {
  color: #b2b2b2;
}
.text-info {
  color: #5bc0de;
}
.text-info:hover {
  color: #3db5d8;
}
.text-primary {
  color: #5b98cc;
}
.text-primary:hover {
  color: #4087c4;
}
.text-success {
  color: #71c671;
}
.text-success:hover {
  color: #58bc58;
}
.text-warning {
  color: #e8b976;
}
.text-warning:hover {
  color: #e3a957;
}
.text-danger {
  color: #d97572;
}
.text-danger:hover {
  color: #d15956;
}
/*
 * Dropdown menu
 */
.dropdown-menu {
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #5b98cc;
}
.dropdown-menu > li.active a,
.dropdown-menu > li.active a:hover,
.dropdown-menu > li.active a:focus {
  background-color: #5b98cc;
}
/*
 * Breadcrumb
 */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0;
  background-color: #fcfcfc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb > .active {
  color: #666666;
}
/*
 * Charts
 */
.pie-chart {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
}
.pie-chart canvas {
  position: absolute;
  left: 0;
}
.pie-chart.sr-only {
  position: absolute;
}
.pie-box .pie-title {
  display: block;
  color: #555;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  text-transform: uppercase;
}

.chart-data{
  width: 800px;
  height: 800px;
}
/*
 * Images
 */
.img-rounded,
.img-thumbnail {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-thumbnail {
  background-color: #428bca;
  border: solid 1px #428bca;
  padding: 2px;
}
/*
 * Panels
 */
.panel {
  border: solid 1px #EEE;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .panel {
    margin-left: -14px;
    margin-right: -14px;
  }
}
@media (max-width: 768px) {
  .panel .panel-body {
    padding: 5px;
  }
}
.panel .panel-actions {
  float: right;
}
.panel .panel-actions .panel-action {
  color: #777;
  padding: 5px;
}
.panel .panel-actions .panel-action:hover {
  color: #428bca;
}
.panel .panel-heading {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.panel .panel-heading[data-toggle="collapse"] {
  cursor: pointer;
}
@media (max-width: 768px) {
  .panel .panel-heading {
    padding: 10px 5px;
  }
}
.panel .panel-footer {
  padding: 5px 15px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.panel.panel-default {
  border-color: #f7f7f7;
}
.panel.panel-default > .panel-heading {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.panel.panel-default > .panel-footer {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #919191;
  font-weight: 300;
}
.panel.panel-primary {
  border-color: #95bdde;
}
.panel.panel-primary > .panel-heading {
  background-color: #95bdde;
  border-color: #95bdde;
  color: #162f45;
}
.panel.panel-primary > .panel-footer {
  background-color: #95bdde;
  border-color: #95bdde;
  color: #162f45;
  font-weight: 300;
}
.panel.panel-success {
  border-color: #bbe4bb;
}
.panel.panel-success > .panel-heading {
  background-color: #bbe4bb;
  border-color: #bbe4bb;
  color: #266026;
}
.panel.panel-success > .panel-footer {
  background-color: #bbe4bb;
  border-color: #bbe4bb;
  color: #266026;
  font-weight: 300;
}
.panel.panel-info {
  border-color: #9bd8eb;
}
.panel.panel-info > .panel-heading {
  background-color: #9bd8eb;
  border-color: #9bd8eb;
  color: #124a5b;
}
.panel.panel-info > .panel-footer {
  background-color: #9bd8eb;
  border-color: #9bd8eb;
  color: #124a5b;
  font-weight: 300;
}
.panel.panel-warning {
  border-color: #f3dab8;
}
.panel.panel-warning > .panel-heading {
  background-color: #f3dab8;
  border-color: #f3dab8;
  color: #7d5215;
}
.panel.panel-warning > .panel-footer {
  background-color: #f3dab8;
  border-color: #f3dab8;
  color: #7d5215;
  font-weight: 300;
}
.panel.panel-danger {
  border-color: #e9b0ae;
}
.panel.panel-danger > .panel-heading {
  background-color: #e9b0ae;
  border-color: #e9b0ae;
  color: #641d1b;
}
.panel.panel-danger > .panel-footer {
  background-color: #e9b0ae;
  border-color: #e9b0ae;
  color: #641d1b;
  font-weight: 300;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  border-bottom-width: 0px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 0px;
}
.panel-group .panel:last-child {
  border-bottom-width: 1px;
}
.panel-group .panel:last-child .panel-heading {
  border-bottom: none;
}
.panel-group .panel .panel-heading {
  border-bottom: solid 1px #FFF;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: none;
}
/*
 * Wells
 */
.well {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fafafa;
}
.well h1,
.well h2,
.well h3,
.well h4,
.well h5,
.well h6 {
  margin-top: 0px;
}
/*
 * Dialogs
 */
.modal-content {
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*
 * Buttons
 */
.btn {
  font-size: inherit;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
.btn.sr-only {
  position: absolute;
}
.btn.active {
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.1);
}
.btn .label {
  position: absolute;
  top: -2px;
  right: -2px;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-default {
  background-color: #f7f7f7;
}
.btn.btn-default:hover {
  background-color: #efefef;
}
.btn.btn-default:active,
.btn.btn-default .active {
  background-color: #e8e8e8;
}
.btn.btn-primary {
  background-color: #5b98cc;
}
.btn.btn-primary:hover {
  background-color: #4f91c8;
}
.btn.btn-primary:active,
.btn.btn-primary .active {
  background-color: #4489c5;
}
.btn.btn-success {
  background-color: #84ce84;
}
.btn.btn-success:hover {
  background-color: #79ca79;
}
.btn.btn-success:active,
.btn.btn-success .active {
  background-color: #6ec56e;
}
.btn.btn-warning {
  background-color: #e8b976;
}
.btn.btn-warning:hover {
  background-color: #e6b269;
}
.btn.btn-warning:active,
.btn.btn-warning .active {
  background-color: #e4ac5c;
}
.btn.btn-info {
  background-color: #5bc0de;
}
.btn.btn-info:hover {
  background-color: #4ebbdb;
}
.btn.btn-info:active,
.btn.btn-info .active {
  background-color: #42b6d9;
}
.btn.btn-danger {
  background-color: #d97572;
}
.btn.btn-danger:hover {
  background-color: #d66966;
}
.btn.btn-danger:active,
.btn.btn-danger .active {
  background-color: #d35d5a;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.1);
}
.open .dropdown-toggle.btn-default {
  background-color: #e8e8e8;
}
.open .dropdown-toggle.btn-primary {
  background-color: #4489c5;
}
.open .dropdown-toggle.btn-success {
  background-color: #6ec56e;
}
.open .dropdown-toggle.btn-warning {
  background-color: #e4ac5c;
}
.open .dropdown-toggle.btn-info {
  background-color: #42b6d9;
}
.open .dropdown-toggle.btn-danger {
  background-color: #d35d5a;
}
.btn-group > .btn + .dropdown-toggle.btn-default {
  border-left: solid 1px #efefef;
}
.btn-group > .btn + .dropdown-toggle.btn-primary {
  border-left: solid 1px #4f91c8;
}
.btn-group > .btn + .dropdown-toggle.btn-success {
  border-left: solid 1px #79ca79;
}
.btn-group > .btn + .dropdown-toggle.btn-warning {
  border-left: solid 1px #e6b269;
}
.btn-group > .btn + .dropdown-toggle.btn-info {
  border-left: solid 1px #4ebbdb;
}
.btn-group > .btn + .dropdown-toggle.btn-danger {
  border-left: solid 1px #d66966;
}

/*
 * Navbar
 */
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f7f7f7;
}
.nav-pills > li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #eeeeee;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #5b98cc;
  border-color: #5b98cc;
}
.nav.nav-pills .open > .dropdown-menu {
  margin-top: 1px;
}
.nav-tabs {
  border-bottom: solid 1px #eeeeee;
}
.nav-tabs > li > a {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee #eeeeee #eeeeee;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: solid 1px #eeeeee;
  border-bottom-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ffffff;
  border-color: #eeeeee;
}
.nav.nav-tabs .open > .dropdown-toggle {
  border-bottom: solid 1px #ffffff;
}
.nav.nav-tabs .open > .dropdown-menu {
  border-top: none;
  margin-top: 0px;
}
/*
 * Tabs
 */
.tab-content {
  padding: 10px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
/*
 * List Group
 */
.list-group-item {
  border: solid 1px #eeeeee;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #5b98cc;
  border-color: #5b98cc;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #555;
  background-color: #fafafa;
}
.list-group-item-heading {
  font-weight: 500;
}
.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

/*
 * Tooltip
 */
.tooltip-inner {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*
 * Popover
 */
.popover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}
/*
 * Arrow
 */

/**
 * Main navigation
 */
.navbar-default.navbar-main {
  background-color: #ffffff;
  border-bottom: solid 1px #f7f7f7;
  margin: 0 0 0 0;
}
.navbar-default.navbar-main span.hidden-small {
  display: inline !important;
}
@media (max-width: 480px) {
  .navbar-default.navbar-main span.hidden-small {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .navbar-default.navbar-main span.hidden-small {
    display: none !important;
  }
}
.navbar-default.navbar-main .navbar-header {
  float: left;
}
.navbar-default.navbar-main .navbar-nav {
  float: right;
}
.navbar-default.navbar-main .navbar-toggle {
  border: none;
  float: none;
  margin: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-default.navbar-main .navbar-brand,
.navbar-default.navbar-main .navbar-brand:hover,
.navbar-default.navbar-main .navbar-brand:focus {
  color: #393939;
}
.navbar-default.navbar-main .navbar-brand:hover {
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .navbar-default.navbar-main .navbar-nav {
    margin: 0;
  }
}
.navbar-default.navbar-main .navbar-nav .img-avatar {
  max-width: 40px;
  display: inline-block;
  height: auto;
  padding: 1px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-default.navbar-main .navbar-header img.img-avatar{
    max-width: 100px;
    display: inline-block;
    height: auto;
    padding: 1px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navbar-default.navbar-main .navbar-nav > li {
  line-height: 0px;
}
.navbar-default.navbar-main .navbar-nav > li > a {
  padding: 10px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
.navbar-default.navbar-main .navbar-nav > li > a.avatar {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default.navbar-main .navbar-nav > li > a > .fa {
  font-size: 18px;
  margin-right: 3px;
}
.navbar-default.navbar-main .navbar-nav > li > a > .label {
  padding: 2px 5px;
  line-height: 15px;
  font-size: 11px;
}
.navbar-default.navbar-main .navbar-nav > li > a,
.navbar-default.navbar-main .navbar-nav > li > a:hover,
.navbar-default.navbar-main .navbar-nav > li > a:focus {
  color: #393939;
}
.navbar-default.navbar-main .navbar-nav > li > a:hover {
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .navbar-default.navbar-main .navbar-nav .open .dropdown-menu {
    position: absolute;
  }
}
.navbar-default.navbar-main .navbar-nav > .open > a,
.navbar-default.navbar-main .navbar-nav > .open > a:hover,
.navbar-default.navbar-main .navbar-nav > .open > a:focus {
  background-color: #fafafa;
  color: #393939;
}
@media (max-width: 768px) {
  .navbar-default.navbar-main .navbar-nav.navbar-right {
    margin: 0 auto;
  }
}
.navbar-default.navbar-main .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
@media (max-width: 768px) {
  .navbar-default.navbar-main .navbar-nav > li {
    float: left;
  }
}
.navbar-default.navbar-main .navbar-nav > li > .dropdown-menu {
  background-color: #fafafa;
  border: none;
  margin: 2px 0 0 0;
  min-width: 100%;
  z-index: 1000;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-default.navbar-main .navbar-nav > li > .dropdown-menu li > a {
  padding-right: 23px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar-default.navbar-main .navbar-nav > li > .dropdown-menu li > a i {
  font-size: 16px;
  margin-right: 5px;
}
.navbar-default.navbar-main .navbar-nav > li > .dropdown-menu li > a:hover,
.navbar-default.navbar-main .navbar-nav > li > .dropdown-menu li > a:focus {
  padding-right: 20px;
  border-right: solid 3px #428bca;
  color: #428bca;
  background-color: #f5f5f5;
}
@media (max-width: 440px) {
  .navbar-default.navbar-main .navbar-nav > li.notification {
    position: inherit;
  }
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu {
  width: 300px;
  padding: 2px;
  margin: 0;
}
@media (max-width: 440px) {
  .navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu {
    margin: 0 auto;
  }
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li {
  background-color: #ffffff;
  margin-bottom: 2px;
  font-size: 12px;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li:before,
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li:after {
  content: " ";
  display: table;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li:after {
  clear: both;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li .time {
  float: right;
  font-weight: 300;
  font-size: 11px;
  color: #CCC;
  margin-left: 5px;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li .time:before {
  float: left;
  font-family: FontAwesome;
  content: "\f017";
  margin: 1px 4px 0 0;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li .fa {
  font-size: 16px;
  margin: 4px 5px 0 0;
  color: #d97572;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li p {
  margin: 0;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li > a {
  padding: 5px;
  white-space: normal;
  line-height: 1.428571429;
  color: #666666;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li > a:hover {
  border: none;
  color: #428bca;
  background-color: #ffffff;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li:last-child {
  margin-bottom: 0px;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li.open-section {
  text-align: center;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu li.open-section a {
  font-weight: bold;
}
.navbar-default.navbar-main .navbar-nav > li.notification .dropdown-menu .img-avatar {
  margin: 0 5px 0 0;
}
/**
 * Top navigation
 */
.navbar-default.navbar-top {
  background-color: #ffffff;
  border-bottom: solid 1px #f7f7f7;
  margin: 0 0 0 0;
  z-index: 900;
  display: none;
}
@media (min-width: 768px) {
  .navbar-default.navbar-top {
    display: block !important;
  }
}
.navbar-default.navbar-top.in,
.navbar-default.navbar-top.collapsing {
  display: block;
}
@media (max-width: 768px) {
  .navbar-default.navbar-top .navbar-nav {
    margin: 0;
  }
}
.navbar-default.navbar-top .navbar-nav > li {
  line-height: 0px;
}
.navbar-default.navbar-top .navbar-nav > li > a {
  padding: 10px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
@media (max-width: 768px) {
  .navbar-default.navbar-top .navbar-nav > li > a {
    padding: 6px 10px 6px 15px;
    display: block;
  }
}
.navbar-default.navbar-top .navbar-nav > li > a > .fa {
  font-size: 18px;
  margin-right: 3px;
}
.navbar-default.navbar-top .navbar-nav > li > a > .label {
  padding: 2px 5px;
  line-height: 15px;
  font-size: 11px;
}
.navbar-default.navbar-top .navbar-nav > li > a,
.navbar-default.navbar-top .navbar-nav > li > a:hover,
.navbar-default.navbar-top .navbar-nav > li > a:focus {
  color: #393939;
}
.navbar-default.navbar-top .navbar-nav > li > a:hover {
  background-color: #fafafa;
}
.navbar-default.navbar-top .navbar-nav > li.active > a,
.navbar-default.navbar-top .navbar-nav > li.activea:hover,
.navbar-default.navbar-top .navbar-nav > li.activea:focus {
  color: #428bca;
  background-color: #f5f5f5;
}
.navbar-default.navbar-top .navbar-nav > .open > a,
.navbar-default.navbar-top .navbar-nav > .open > a:hover,
.navbar-default.navbar-top .navbar-nav > .open > a:focus {
  background-color: #fafafa;
  color: #393939;
}
.navbar-default.navbar-top .navbar-nav > .active.open > a,
.navbar-default.navbar-top .navbar-nav > .active.open > a:hover,
.navbar-default.navbar-top .navbar-nav > .active.open > a:focus {
  background-color: #fafafa;
  color: #428bca;
}
@media (max-width: 768px) {
  .navbar-default.navbar-top .navbar-nav > li {
    float: none;
  }
}
.navbar-default.navbar-top .navbar-nav > li > .dropdown-menu {
  background-color: #fafafa;
  border: none;
  margin: 2px 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-default.navbar-top .navbar-nav > li > .dropdown-menu li > a {
  padding-left: 20px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar-default.navbar-top .navbar-nav > li > .dropdown-menu li > a i {
  font-size: 16px;
  margin-right: 5px;
}
.navbar-default.navbar-top .navbar-nav > li > .dropdown-menu li > a:hover,
.navbar-default.navbar-top .navbar-nav > li > .dropdown-menu li > a:focus {
  padding-left: 17px;
  border-left: solid 3px #428bca;
  color: #428bca;
  background-color: #f5f5f5;
}
@media (max-width: 440px) {
  .navbar-default.navbar-top .navbar-nav > li.dropdown {
    position: inherit;
  }
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu {
  padding: 2px;
  margin: 0;
}
@media (max-width: 768px) {
  .navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu.pull-right {
    float: none !important;
  }
}
@media (max-width: 440px) {
  .navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu {
    margin: 0 auto;
  }
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li {
  background-color: #ffffff;
  margin-bottom: 2px;
  font-size: 12px;
}
@media (max-width: 768px) {
  .navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li {
    padding-left: 20px;
  }
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li .fa {
  font-size: 16px;
  margin: 4px 5px 0 0;
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li > a {
  padding: 5px;
  line-height: 1.428571429;
  color: #393939;
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li > a:hover {
  border: none;
  color: #428bca;
  background-color: #ffffff;
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li.active a {
  background-color: #ffffff;
  color: #428bca;
}
.navbar-default.navbar-top .navbar-nav > li.dropdown .dropdown-menu li:last-child {
  margin-bottom: 0px;
}
body.fixed_menu .navbar-default.navbar-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
body.fixed_menu .wrapper {
  padding-top: 51px;
  background-color: #ffffff;
}
body.fixed_menu .wrapper .navbar-default.navbar-top {
  background-color: rgba(255, 255, 255, 0.9);
}
body.fixed_menu .wrapper.container .navbar-default.navbar-top {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
@media (min-width: 768px) {
  body.fixed_menu .wrapper.container .navbar-default.navbar-top {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  body.fixed_menu .wrapper.container .navbar-default.navbar-top {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body.fixed_menu .wrapper.container .navbar-default.navbar-top {
    width: 1170px;
  }
}
body.fixed_header .navbar-default.navbar-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 901;
}
body.fixed_header .wrapper {
  padding-top: 51px;
  background-color: #ffffff;
}
body.fixed_header .wrapper .navbar-default.navbar-main {
  background-color: rgba(255, 255, 255, 0.9);
}
body.fixed_header .wrapper.container .navbar-default.navbar-main {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
@media (min-width: 768px) {
  body.fixed_header .wrapper.container .navbar-default.navbar-main {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  body.fixed_header .wrapper.container .navbar-default.navbar-main {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body.fixed_header .wrapper.container .navbar-default.navbar-main {
    width: 1170px;
  }
}
body.fixed_header.fixed_menu .navbar-default.navbar-main {
  top: 0;
}
body.fixed_header.fixed_menu .navbar-default.navbar-top {
  top: 51px;
}
body.fixed_header.fixed_menu .wrapper {
  padding-top: 102px;
}
/*
 * Content section
 */
.body {
  position: relative;
  overflow: hidden;
}
.body.sr-only {
  position: absolute;
}
.show-grid {
  padding: 0 15px 0 15px;
}
.show-grid [class*="col-"] {
  background-color: #FCFCFC;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
  border: solid 1px #E7EBEB;
  margin-top: 5px;
}
/*
 * Left sidebar section
 */
.sidebar {
  background-color: #fcfcfc;
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    display: block !important;
    height: auto !important;
    width: 190px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    float: left;
  }
}
@media (min-width: 992px) {
  .sidebar {
    display: block !important;
    height: auto !important;
    width: 190px;
    float: left;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    display: block !important;
    height: auto !important;
    width: 190px;
    float: left;
  }
}
.sidebar.collapse {
  display: none;
}
.sidebar.in,
.sidebar.collapsing {
  display: block;
}
.sidebar .nav.fixed-nav {
  position: fixed;
  width: 190px;
}
.sidebar .nav li > a {
  color: #393939;
  padding: 6px 10px 6px 15px;
  position: relative;
}
.sidebar .nav li > a.sr-only {
  position: absolute;
}
.sidebar .nav li > a .caret {
  float: right;
  margin-top: 8px;
  margin-right: 1px;
}
.sidebar .nav li > a .badge {
  position: absolute;
  right: 25px;
}
.sidebar .nav li > a i {
  font-size: 16px;
  margin-right: 5px;
}
.sidebar .nav li > a:focus,
.sidebar .nav li > a:hover {
  background-color: #f7f7f7;
  padding-left: 12px;
  border-left: solid 3px #428bca;
  color: #428bca;
}
.sidebar .nav .open > a,
.sidebar .nav .open > a:hover,
.sidebar .nav .open > a:focus {
  background-color: #f7f7f7;
  padding-left: 12px;
  border-left: solid 3px #428bca;
}
.sidebar .nav .active > a,
.sidebar .nav .active > a:hover,
.sidebar .nav .active > a:focus {
  background-color: #f7f7f7;
  padding-left: 12px;
  border-left: solid 3px #428bca;
  color: #428bca;
}
.sidebar .nav .menu .submenu {
  display: none;
  list-style: none;
  position: relative;
  float: none;
  padding: 2px 2px 2px 22px;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar .nav .menu .submenu.sr-only {
  position: absolute;
}
.sidebar .nav .menu .submenu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #393939;
  white-space: nowrap;
}
.sidebar .nav .menu .submenu > li > a:hover,
.sidebar .nav .menu .submenu > li > a:focus {
  background-color: #f7f7f7;
  color: #428bca;
  padding-left: 17px;
  text-decoration: none;
}
.sidebar .nav .menu .submenu > .open > a,
.sidebar .nav .menu .submenu > .open > a:hover,
.sidebar .nav .menu .submenu > .open > a:focus {
  background-color: #f7f7f7;
  padding-left: 12px;
  border-left: solid 3px #428bca;
}
.sidebar .nav .menu .submenu > .active > a,
.sidebar .nav .menu .submenu > .active > a:hover,
.sidebar .nav .menu .submenu > .active > a:focus {
  background-color: #f7f7f7;
  padding-left: 17px;
  border-left: solid 3px #428bca;
  color: #428bca;
}
.sidebar .nav .menu.active .submenu,
.sidebar .nav .menu.open .submenu {
  display: block;
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header:after {
  clear: both;
}
.header .header-title {
  color: #666666;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
}
.header .header-info {
  color: #888888;
  font-size: 14px;
  font-weight: 300;
  padding-left: 2px;
}
/*
 * Main content
 */
.content {
  background-color: #FFF;
  overflow: hidden;
  zoom: 1;
  margin-left: 0;
}
@media (min-width: 768px) {
  .sidebar + .content {
    margin-left: 190px;
  }
}
@media (min-width: 992px) {
  .sidebar + .content {
    margin-left: 190px;
  }
}
@media (min-width: 1200px) {
  .sidebar + .content {
    margin-left: 190px;
  }
}
.main-content {
  padding: 15px 15px 55px 15px;
  border-top: solid 1px #428bca;
}
.stats {
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin: 0px;
  padding: 0px;
  min-height: 63px;
}
.stats .stat {
  padding: 10px 10px;
  border-left: solid 2px #fcfcfc;
  height: 100%;
}
.stats .stat:first-child {
  border-left: none;
}
.stats .stat .value {
  font-size: 120%;
  color: #428bca;
}
.stats .stat em {
  color: #888888;
  display: block;
}
/*
 * Error pages
 */
.panel.error-panel {
  border: none;
  margin: 30px auto 0 auto;
  width: auto;
  text-align: center;
}
.panel.error-panel .panel-title {
  font-size: 30px;
}
.panel.error-panel .panel-title i {
  font-size: 60px;
  display: block;
  margin-bottom: 15p;
}
.panel.error-panel .panel-body p {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .panel.error-panel {
    width: 500px;
  }
}
/**
 * Search Area
 */
.search {
  position: relative;
}
.search .btn-search {
  position: absolute;
  border-radius: 4px 4px 0 0;
  top: -30px;
  right: 15px;
  background-color: #428bca;
  color: #FFF;
  padding: 6px 8px;
}
.search .btn-search:hover {
  background-color: #4a90cc;
}
.search .search-form {
  display: none;
  padding: 10px 17px 17px;
  background-color: #428bca;
}
.search .search-form:after {
  clear: both;
}
.search .search-form h1,
.search .search-form h2,
.search .search-form h3,
.search .search-form h4,
.search .search-form h5,
.search .search-form h6 {
  margin-top: 0;
  color: #FFF;
}
.search .search-form form {
  padding: 5px;
  background-color: #FFF;
}
.search .search-form form .form-group {
  margin-bottom: 5px;
}
.search .search-form form .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search.active .btn-search:hover i:before {
  content: "\f00d";
}
.search.active .search-form {
  display: block;
}
/*
 * Gallery Section
 */
.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery .item {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  float: left;
  position: relative;
  border-radius: 2px;
  padding-right: 15px;
  padding-left: 15px;
}
.gallery .item img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  max-height: 100%;
  min-width: 100%;
}
.gallery .item .details {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 80px;
}
.gallery .item .details .action {
  background-color: rgba(106, 163, 213, 0.8);
  border-radius: 50%;
  font-size: 22px;
  color: #FFF;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  padding: 3px 0 0 0;
  vertical-align: middle;
}
.gallery .item .details .action:hover {
  background-color: rgba(118, 171, 217, 0.9);
}
.gallery .item:hover .details {
  display: block;
}

.loading {
  width: 100%;  
  height: 100%;  
  top: 0px;
  left: 0px;
  position: fixed;  
  display: block;  
  opacity: 0.7;  
  background-color: #fff;  
  z-index: 99;  
  text-align: center; 
}   
.loading-image {  
  position: absolute;  
  top: 50%;  
  left: 50%; 
  z-index: 100; 
}
 
#myModal img{
  width: 100%;
  height: 100%;
}
/*
 * Video Section
 */

 .video-st{
  width: 300px;
  height: 300px;
 }

/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
.pln {
    color: #5c5c5c;
  }
  /* plain text */
  @media screen {
    .str {
      color: #f38d05;
    }
    /* string content */
    .kwd {
      color: #3a67bd;
    }
    /* a keyword */
    .com {
      color: #949494;
    }
    /* a comment */
    .typ {
      color: #789306;
    }
    /* a type name */
    .lit {
      color: #066;
    }
    /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun,
    .opn,
    .clo {
      color: #660;
    }
    .tag {
      color: #3a67bd;
    }
    /* a markup tag name */
    .atn {
      color: #789306;
    }
    /* a markup attribute name */
    .atv {
      color: #f38d05;
    }
    /* a markup attribute value */
    .dec,
    .var {
      color: #606;
    }
    /* a declaration; a variable name */
    .fun {
      color: red;
    }
    /* a function name */
  }
  /* Put a border around prettyprinted code snippets. */
  pre.prettyprint {
    padding: 5px;
    color: #5c5c5c;
    border: 1px solid #ededed;
    background-color: #FFF;
    font-size: 11px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  code {
    font-size: 90%;
    color: #5c5c5c;
    white-space: nowrap;
    background-color: #FFF;
    border: 1px solid #ededed;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* IE indents via margin-left */
  /* Alternate shading for lines */
  li.L1,
  li.L3,
  li.L5,
  li.L7,
  li.L9 {
    background: #f8f8f8;
  }