<!DOCTYPE html>
{% load staticfiles %}
{% load basic_tag %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <!-- bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#gallery-view').on('click', function(){
            $('.spinner').show();
            $('.body').css('opacity', '0.5');
        });
        $('#video-view').on('click', function(){
            $('.spinner').show();
            $('.body').css('opacity', '0.5');
        });
        $('#comment-view').on('click', function(){
            $('.spinner').show();
            $('.body').css('opacity', '0.5');
        });
        $('.navbar-toggle').on('click', function(){
            var isExpanded = $(this).attr('aria-expanded');
            if (isExpanded == 'true'){
                $('.sidebar').hide();
            }else{
                $('.sidebar').show();
            }
        });
    });
    </script>
</head>
<body> 
    <div class="wrapper">
     <!-- HEAD NAV -->
    <div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.instagram.com/{{ parsing.ids }}" target="_blank">{{parsing.ids}} <img src="{{parsing.profile_img}}" alt="{{parsing.ids}}" class="img-avatar pull-left"/></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs">
                <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                    <span class="sr-only" style="color:powderblue;">Toggle navigation</span>
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </li>         
        </ul>
    </div>
    <!-- END: HEAD NAV -->
    <!-- BODY -->
    <div class="body">
            <!-- SIDEBAR -->
            <aside class="sidebar">
                <ul class="nav" style="display:inline-block; margin: 5px;">
                    <li style="margin: 5px;"><a href="http://localhost:8000/"></i>Dashboard</a></li>
                    <li class="active" style="margin: 5px;"><a id="analysis-view" href="#">Analysis</a></li>
                    <li style="margin: 5px;"><a id="comment-view" href="{% url 'comment' ids=parsing.ids %}">Comment</a></li>
                    <li style="margin: 5px;"><a id="gallery-view" href="{% url 'gallery' ids=parsing.ids %}">Gallery</a></li> 
                    <li style="margin: 5px;"><a id="video-view" href="{% url 'video' ids=parsing.ids %}">Video</a></li> 
                </ul>
            </aside>
            <!-- END: SIDEBAR -->
            <section class="content">
                <div class="main-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">장소 태그 Top 10</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- Topology & Geocoding -->
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">Temp</h3>
                                </div>
                                <div class="panel-body"> 
                                    <!-- Classification -->
                                    <!-- Who are, Where are, Labeling -->
                                    <p>Image Processing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">Temp</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- Behavior Pattern -->
                                    <!-- 날짜, 시간, 글, 사진, etc. -->
                                    <p>Video Processing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">Temp</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- Behavior Pattern -->
                                    <!-- 날짜, 시간, 글, 사진, etc. -->
                                    <p>Predict</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: CONTENT -->
            </section>
        </div>
        <!-- END: BODY -->
    </div>
    <script type="text/javascript">
        function initMap(){
            var place_id = "{{ map_ret|map_place_id }}";
            var map_lat = "{{ map_ret|map_lat }}";
            var map_lng = "{{ map_ret|map_lng }}";
            var map_add = "{{ map_ret|map_address }}";
            place_id = place_id.replace("'",'').replace('[', '').replace(']', '').split(',');
            map_lat = map_lat.replace('[', '').replace(']', '').split(',');
            map_lng = map_lng.replace('[', '').replace(']', '').split(',');
            map_add = map_add.replace('[', '').replace(']', '').split('>,');
            var newPlaces = [];
            var newValues = [];
            var newAddress = [];
            var len = place_id.length;
    
            for(var i = 0; i < len; ++i){
                    if (place_id[i] != "undefiend" && place_id[i] != null){
                        newPlaces.push(new String(place_id[i]).replace(/'/g, "").trim());
                        newAddress.push(new String(map_add[i]).replace(/'/g, "").replace(', ', '').trim());
                        var temp = {lat: 0, lng: 0};
                        temp.lat = parseFloat(map_lat[i].replace("'",'').trim());
                        temp.lng = parseFloat(map_lng[i].replace("'",'').trim()); 
                        newValues.push(temp);
                    }
            }
            console.log(newValues);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 37.541, lng: 126.986},
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var infowindow = new google.maps.InfoWindow({});

            var marker, i;
            for (i = 0; i < len; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(newValues[i]['lat'], newValues[i]['lng']),
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(newAddress[i]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            var getPath = new google.maps.Polyline({
            path: newValues,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
            });
            getPath.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa1-OAbKJx0mf-kq2DN3tQArOfj2o36GE&callback=initMap"
    async defer>
    </script>
</body>
</html>