<!DOCTYPE html>
{% load staticfiles %}
{% load basic_tag %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <!-- bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
       $('.chat-btn').on('click', function(){
        var txt = $('#txt').val();
        $('#txt').val('');
        if (((typeof txt != "undefined") && (typeof txt.valueOf() == "string")) && (txt.length > 0)) {
            $('.chat_wrap').append('<div class="usr">'+txt+' <span style="font-size: 15px; color: powderblue;">:나</span><div>')
            $('.spinner').show();
            $.ajax({
                type: "GET", // 데이터를 전송하는 방법을 지정
                url: "/chatbot/make_reply/", // 통신할 url을 지정
                data: {'txt': txt, 
                       'csrfmiddlewaretoken': '{{ csrf_token }}'},    
                    success: function(data){
                        $('.spinner').hide();
                        $('.chat_wrap').append('<div class="bot"><span style="font-size: 15px; color: powderblue;">봇:</span> '+data['ret']+'<div>')
                    },
                    dataType: 'json',
                    error: function(request, status, error){
                        $('.spinner').hide();
                        alert(status +": "+ error);
                    }
              });
        }else{
            alert('입력 값이 없습니다!');
        }   
       });
       $('.btn-reset').on('click',function(){
           $('.chat_wrap').find('div.usr').remove();
           $('.chat_wrap').find('div.bot').remove();
       });
    });
    </script>
</head>
<body> 
<body> 
    <div class="wrapper">
     <!-- HEAD NAV -->
    <div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
        <div class="navbar-header">
            <strong>ChatBot 대화하기</strong> <button class="btn btn-danger btn-reset" style="display: inline;">채팅 모두 지우기</button>
        </div>
        <ul class="nav navbar-nav navbar-right">
             <li class="visible-xs">
                <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                    <span class="sr-only" style="color:powderblue;">Toggle navigation</span>
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </li>          
        </ul>
    </div>
    <!-- END: HEAD NAV -->
    <!-- BODY -->
    <div class="body">
            <!-- SIDEBAR -->
            <aside class="sidebar collapse navbar-collapse">
                <ul class="nav nav-stacked" style="display:inline-block; margin: 5px;">
                    <li style="margin: 5px;"><a href="http://localhost:8000/">Dashboard</a></li>
                    <li class="active" style="margin: 5px;"><a href="#">Chatbot</a></li> 
                </ul>
            </aside>
            <!-- END: SIDEBAR -->
            <section class="content">
                <!-- START: CONTENT -->
                <div class = "chat_wrap">
                    <div class="spinner" style="display: none;">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
                <input id="txt" class="form-control" type="text" name="txt" placeholder="입력하세요.">
                <button class="btn btn-outline-info btn-block chat-btn" style="margin-bottom: 10px;">전송</button>
                <!-- END: CONTENT -->
            </section>
        </div>
        <!-- END: BODY -->
    </div>
</body>
</html>