<!DOCTYPE html>
{% load staticfiles %}
{% load basic_tag %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <!-- bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <!-- chart -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.0/css/jquery.dataTables.min.css" rel="stylesheet" 
    type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#gallery-view').on('click', function(){
                $('.spinner').show();
                $('.body').css('opacity', '0.5');
            });
            $('#video-view').on('click', function(){
                $('.spinner').show();
                $('.body').css('opacity', '0.5');
            });
            $('#comment-view').on('click', function(){
                $('.spinner').show();
                $('.body').css('opacity', '0.5');
            });
            $('#analysis-view').on('click', function(){
                $('.spinner').show();
                $('.body').css('opacity', '0.5');
            });
            $('.comment-item').on('click', function(){
                    $('.spinner').show();
                    $('.body').css('opacity', '0.5');
                });
            $('.navbar-toggle').on('click', function(){
                var isExpanded = $(this).attr('aria-expanded');
                if (isExpanded == 'true'){
                    $('.sidebar').hide();
                }else{
                    $('.sidebar').show();
                }
            });
            $('.btn-user').on('click', function(){
                switch($(this).val()){
                    case '1':
                        userDataChange(1, 0, 10);
                        break;
                    case '2': 
                        userDataChange(1, 11, 20);
                        break;
                    case '3': 
                        userDataChange(1, 21, 30);
                        break;
                    case '4': 
                        userDataChange(1, 31, 40);
                        break;
                    case '5': 
                        userDataChange(1, 41, 50);
                        break;
                }
            });
            $('.btn-re').on('click', function(){
                switch($(this).val()){
                    case '1':
                        userDataChange(0, 0, 10);
                        break;
                    case '2': 
                        userDataChange(0, 11, 20);
                        break;
                    case '3': 
                        userDataChange(0, 21, 30);
                        break;
                    case '4': 
                        userDataChange(0, 31, 40);
                        break;
                    case '5': 
                        userDataChange(0, 41, 50);
                        break;
                }
            });
            function userDataChange(re, start, end){
                console.log(start, end);
                var data_key = [];
                var data_val = [];
                if (re == 1){
                    data_key = "{{ data_key|safe }}";
                    data_val = '{{ data_val|safe }}';
                }else{
                    data_key = "{{ re_data_key|safe }}";
                    data_val = '{{ re_data_val|safe }}';
                }
                data_key = data_key.replace('[', '').replace(']', '').split(',');
                data_val = data_val.replace('[', '').replace(']', '').split(',');
                var ctx = null;
                if (re ==1){
                    ctx = document.getElementById("polar-chart");
                }else{
                    ctx = document.getElementById("polar-chart-re");
                }
                new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                    labels: data_key.slice(start ,end),
                    datasets: [
                        {
                        label: "Similarity",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
                                          "#c45850", "#8e5ea2", "#e8c3b9", "#3cba9f", "#3e95cd"],
                        data: data_val.slice(start, end)
                        }
                    ]
                    },
                    options: {
                    title: {
                        display: true,
                        text: 'Word Embedding'
                    }
                    }
                });
            }
            $('.navbar-toggle').on('click', function(){
                var isExpanded = $(this).attr('aria-expanded');
                if (isExpanded == 'true'){
                    $('.sidebar').hide();
                }else{
                    $('.sidebar').show();
                }
            });
        });
    </script>
    <script type="text/javascript">
    $( function() {
        var users = "{{ users|get_users }}";
        users = users.split(',')
        $("#auto-id" ).autocomplete({
            source: users
        });
    });    
    </script>
</head>
<body> 
    <div class="wrapper">
     <!-- HEAD NAV -->
    <div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.instagram.com/{{ parsing.ids }}" target="_blank">{{parsing.ids}} <img src="{{parsing.profile_img}}" alt="{{parsing.ids}}" class="img-avatar pull-left"/></a>
            <div class="spinner" style="display: none;">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>   
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs">
                <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                    <span class="sr-only" style="color:powderblue;">Toggle navigation</span>
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </li>     
        </ul>
    </div>
    <!-- END: HEAD NAV -->
    <!-- BODY -->
    <div class="body">
            <!-- SIDEBAR -->
            <aside class="sidebar">
                <ul class="nav" style="display:inline-block; margin: 5px;">
                    <li style="margin: 5px;"><a href="http://localhost:8000/"></i>Dashboard</a></li>
                    <li style="margin: 5px;"><a id="anlaysis-view" href="{% url 'analysis' ids=parsing.ids %}">Analysis</a></li>
                    <li class="active" style="margin: 5px;"><a href="#">Comment</a></li>
                    <li style="margin: 5px;"><a id="gallery-view" href="{% url 'gallery' ids=parsing.ids %}">Gallery</a></li> 
                    <li style="margin: 5px;"><a id="video-view" href="{% url 'video' ids=parsing.ids %}">Video</a></li>
                </ul>
            </aside>
            <!-- END: SIDEBAR -->
            <section class="content">
                <div class="main-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">Replies Word Embedding</h3>
                                </div>
                                <div class="panel-body">
                                    <p style="text-align: center;">
                                    {% for i in re_user_ret %}
                                        <button class="btn btn-info btn-re" style="display: inline; margin:5px;" value="{{ forloop.counter }}">{{ i }}</button>
                                    {% endfor %}
                                    </p>
                                    <canvas id="polar-chart-re" style="display: block;"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center;">User Word Embedding</h3>
                                </div>
                                <div class="panel-body"> 
                                    <!-- Word Embedding -->
                                    <!-- Topic Modeling -->
                                    <p style="text-align: center;">
                                    {% for i in user_ret %}
                                        <button class="btn btn-info btn-user" style="display: inline; margin:5px;" value="{{ forloop.counter }}">{{ i }}</button>
                                    {% endfor %}
                                    </p>
                                    <canvas id="polar-chart" style="display: block;"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" style="text-align: center;">긍정 &amp; 부정 도표</h3>
                                    </div>
                                    <div class="panel-body"> 
                                         <!-- Text Emotion Pos, Neg-->
                                        <div class="graph">
                                            <div class="graph-container">
                                                <canvas id="bar-chart-grouped" width="1200" height="450"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: CONTENT -->
            </section>
        </div>
        <!-- END: BODY -->
    </div>
    <script type="text/javascript">
        // x-axes: auto scroll 변경 필요!
        var pos = "{{ positive|safe }}";
        console.log(typeof(pos));
        var neg = "{{ negative|safe }}";
        var label = "{{ pn_times|safe }}";
        pos = pos.replace('[', '').replace(']', '').split(',');
        neg = neg.replace('[', '').replace(']', '').split(',');
        label = label.replace('[', '').replace(']', '').split(',');
        var p_len = pos.length;
        var n_len = neg.length;
        for(var i = 0; i < p_len; ++i){
            pos[i] = parseInt(pos[i].replace("'",'').trim());
        }
        for(var i = 0; i < n_len; ++i){
            neg[i] = parseInt(neg[i].replace("'",'').trim());
        }
        new Chart(document.getElementById("bar-chart-grouped"), {
            type: 'bar',
            data: {
            labels: label,
            datasets: [
                {
                label: "긍정",
                backgroundColor: "#3e95cd",
                data: pos
                }, {
                label: "부정",
                backgroundColor: "#8e5ea2",
                data: neg
                }
            ]
            },
            options: {
                title: {
                    display: true,
                    text: '게시물 댓글 긍정&부정'
                },
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    titleFontSize: 0,
                    titleMarginBottom: 0,
                    bodyFontSize: 12
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            fontSize: 12,
                            display: true
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            fontSize: 12,
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>